@media (max-width: 480px){
    img{
        width: 80%;
        margin: 0% 2%;
    }

    h4{
        width: 75%;
    }
    .game{
        width: 100%;
        left: auto;
        right: auto;
    }
    .container:nth-of-type(odd) .game{
        right: auto;
    }
    .container:nth-of-type(even) .game{ 
        left: auto;
    }
    .container:nth-of-type(odd) .game img{
        float: none;
    }
    .container:nth-of-type(even) .game h4{ 
        float: none;
        
    }
}