.jump{
    animation-name: jump;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@keyframes jump {
    0%{top: 74%}
    50%{ top: 44%}
    65%{ top: 44%}
    100%{top: 74%}
    
}

.Aproximate{
    animation-name: to_left;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    left: 90%;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    z-index: 0;
}

@keyframes to_left {
    0%{}
    100%{left: -20%;}
    
}


/*animation for the player's movement*/
@keyframes movement {
    
    100%{background-image: url(../Sources/Dino\ in\ a\ tank\ 2.png);}
    
}
/* animation for the round shot's movement */
@keyframes to_right {
    0%{ right: 83%;}
    100%{ right:  -20%;}
    
}