.container{ 
    position: absolute;
    display: block;
    width:1000px;
    height: 300px;
    border: 2px;
    border-style: solid;  
}
/* this class is to hide the obstacles*/
.hider{
    position: inherit;
    left: -202px;
    background-color: white;
    width:200px;
    height: 300px;
    z-index: 2;
}
/* this class is to hide the obstacles*/
.hider2{
    position:inherit;
    right: -202px;
    background-color: white;
    width: 200px;
    height: 300px;
    z-index: 2;
}
.player{ 
    position: absolute;
    left:5%;
    bottom: 0%;
    background-image: url(../Sources/Dino\ in\ a\ tank.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y:112% ;
    background-color:rgb(233, 19, 19);
    width: 10%;
    height: 26%;
    animation-name: movement;
    animation-duration: 1s;
    animation-iteration-count: infinite;    
}

.loseScreen {
    background-image: url(../Sources/reload\ icon\ \png\));
    background-repeat: no-repeat;
    background-position: 50%;
}
/* roundShot */
.roundShot {
    background-image: url(../Sources/RoundShot.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: right;
    /*background-color: rgb(219, 27, 27);
    */position: absolute;
    height: 8%;
    width: 4%;
    top: 85%;
    
    
    animation-name: to_right;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);


}


.turnScreen{
    z-index: 0;
    color: white;
}

@media only screen and (orientation: portrait){
    body{
        padding: 0;
        margin:0;
        width:0;
        height: 0;
    }
    .container{
        width: 0;
        height: 0;
    
    }
    .turnScreen{
        position: absolute;
        left:0;
        top:0;
        width: 100;
        height: 100;
        color:black;
        background-color: red;
        font-size: 20px;
        text-align: center;

        z-index: 5;
    }
}
@media only screen and (orientation: landscape) and (max-width: 640px){
    body{
        display: flex;
        padding: 0;
        margin:0;
        width:0;
        height: 0;
        padding-top: 0px;
    }
    .container{
     top: 0;
        width: 500px;
        height: 150px;
    
    }
    .hider{height: 150px;}
    .hider{height: 150px;}
}



